<div class="container mx-auto px-4 text-center">
  <h1 class="text-2xl sm:text-3xl md:text-4xl lg:text-5xl font-bold text-gray-900
             leading-tight tracking-tight my-4 sm:my-6 md:my-4 lg:my-6">
    <%= t('hello') %>
  </h1>
</div>